
<nav class="header-nav">
    <div class="nav-container">
        <div class="logo-container">
            <a href="#">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                Authentication Station
            </a>
        </div>
    
        <ul class="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/signup">Sign up</a></li>
        </ul>
     </div>
</nav>