<title>Auth Test</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="https://fonts.googleapis.com/css?family=Italiana|Hind+Siliguri" rel="stylesheet">
<link href="../../styles/main.css" rel="stylesheet">